.navbar {
    background-color: #1e3a8a;
    padding: 10px;
  }
  
  .navbar a {
    color: skyblue; 
    margin-right: 15px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ffd700; 
  }
  
  .navbar-toggler {
    background-color: #ffffff; 
  }
  
  .navbar-toggler-icon {
    background-color: #1e3a8a; 
  }
  