
.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.login-form button {
    padding: 10px 20px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 100px;
    text-align: center;
}